<ion-header>

  <ion-navbar color="taxi">
    <ion-buttons left>
    </ion-buttons>
    <ion-title text-center>Opciones</ion-title>
    <ion-buttons right>
      <button ion-button (click)="cerrarModalOpciones()">
        Hecho
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>

    <ion-item>
      <ion-label>
        Hora recogida
      </ion-label>
      <ion-datetime
              [min]="minDateOfPicker"
              [max]="maxDateOfPicker"
              displayFormat="DDDD H:mm"
              pickerFormat="DDDD MMM H mm"
              [(ngModel)]="fechaHoraRecogida"
              dayNames="domingo, lunes, martes, miércoles, jueves, viernes, sábado"
              monthShortNames="enero, febrero, marzo, abril, mayo, junio, julio, agosto, septiembre, octubre, noviembre, diciembre">
      </ion-datetime>

    </ion-item>

    <ion-item (click)="setPayment()">
      <ion-label>
        Método de pago
      </ion-label>
      <ion-icon color="taxi" name="cash" item-end></ion-icon>
    </ion-item>

    <ion-item (click)="setVelocidad()">
      <ion-label>
        Tipo de conducción
      </ion-label>
      <ion-icon color="taxi" name="speedometer" item-end></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>Taxi 5 estrellas</ion-label>
      <ion-checkbox [(ngModel)]="taxiEstrella" item-end></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Taxi grande</ion-label>
      <ion-checkbox [(ngModel)]="taxiGrande" item-end></ion-checkbox>
    </ion-item>

  </ion-list>

</ion-content>
