<ion-header>

  <ion-navbar text-center color="taxi">

    <ion-title text-center>Regístrate</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <form (ngSubmit)="register()" #registerForm="ngForm">
    <ion-list>
      <ion-row>
        <ion-col col-3>
          <ion-avatar>
            <img src="assets/imgs/avatar.jpg">
          </ion-avatar>
        </ion-col>
        <ion-col col-9>
          <ion-item>
            <ion-input clearInput type="text" placeholder="Nombre" name="name" [(ngModel)]="user.name" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input clearInput type="text" placeholder="Apellidos" name="lastname" [(ngModel)]="user.lastname" required></ion-input>
          </ion-item>
        </ion-col>
        <br>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-icon name="call" item-start></ion-icon>
            <ion-input type="text" placeholder="Móvil" name="phone" [(ngModel)]="user.phone" clearInput required></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="mail" item-start></ion-icon>
            <ion-input type="text" placeholder="Email" name="name" [(ngModel)]="user.email" clearInput required></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="lock" item-start></ion-icon>
            <ion-input type="password" placeholder="Contraseña" name="password" [(ngModel)]="user.password" clearInput required></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="lock" item-start></ion-icon>
            <ion-input type="password" placeholder="Repite la contraseña" name="confirmation_password" [(ngModel)]="confirmation_password" clearInput required></ion-input>
          </ion-item>
        </ion-col>
        <br>
      </ion-row>
    </ion-list>

    <ion-row>
      <ion-col>
        <button ion-button color="taxi" full type="submit" [disabled]="!registerForm.form.valid" (click)="register()">Iniciar</button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
