<ion-header>

  <ion-navbar color="taxi" hideBackButton="true">
    <ion-title text-center>Final del servicio</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <img id="logo" src="assets/imgs/logo.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <img src="assets/imgs/logo_text.png">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <h5>¡Gracias por usar nuestro servicio!</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-buttons>
          <button ion-button round color="taxi" (click)="backToHomePage()">Continuar</button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
