<ion-header>

  <ion-navbar text-center color="taxi" hideBackButton="true">
    <ion-title>Taxi en camino</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div #map id="map"></div>
</ion-content>

<ion-footer>
  <ion-toolbar padding>
    <ion-row align-items-center>
    <ion-col col-3>
      <ion-avatar>
        <img src="assets/imgs/profile01.png">
      </ion-avatar>
    </ion-col>
    <ion-col col-7>
      <h5 no-margin>{{ driver.name }}</h5>
      <p>Tlf: {{ driver.phone }}</p>
      <ion-buttons>
        <button ion-button color="danger" (click)="cancelarServicio()">Cancelar servicio</button>
      </ion-buttons>
    </ion-col>
    <ion-col col-2>
      <button ion-button icon-only clear large text-center (click)="llamarTaxista()">
      <ion-icon color="taxi" name="call"></ion-icon>
      </button>
    </ion-col>

  </ion-row>
  </ion-toolbar>
</ion-footer>
