<ion-header>

</ion-header>

<ion-content>
  <ion-buttons top *ngIf="mostrarPrecio" id="over_map">
    <button ion-button round color="taxi" id ="precio-tiempo">
      <p>Aprox: {{ precio }} | {{ tiempo }}</p>
    </button>
  </ion-buttons>

  <!--<div *ngIf="mostrarPrecio" id="over_map">-->
    <!--<div id ="precio-tiempo">-->
      <!--Aprox: {{ precio }} {{ tiempo }}-->
    <!--</div>-->
  <!--</div>-->
  <ion-fab top right>
    <button ion-fab small color="disabled" (click)="logout()"><ion-icon name="power"></ion-icon></button>
  </ion-fab>
  <div #map id="map"></div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-item>
        <ion-icon name="locate" item-start></ion-icon>
        <ion-input [(ngModel)]="servicio.origin.address" placeholder="Origen" type="text" value="{{ servicio.origin.address }}" (click)="mostrarModalAddress(1)"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-icon name="navigate" item-start></ion-icon>
        <ion-input  placeholder="Destino" type="text" value="{{ servicio.destination.address }}" (click)="mostrarModalAddress(2)"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-item (click)="mostrarOpciones()">
        <ion-icon name="settings" item-start></ion-icon>
        <ion-label fixed>Más opciones</ion-label>
      </ion-item>
    </ion-row>
    <ion-row>
      <button ion-button block
        disabled="{{ desactivarBotonTaxi }}"
        (click)="requestTaxi()"
        color="taxi">Pedir taxi</button>
    </ion-row>
  </ion-toolbar>
</ion-footer>
