page-home {
  #map {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute!important;
    overflow: hidden!important;
  }

  ion-searchbar {
    bottom: 0px;
    position: absolute;
    opacity: .7;
    z-index: 3;
  }
  #over_map {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 99;
    left: 50%;
  }

  #precio-tiempo {
    position: relative;
    left: -50%;
  }

}
