
<ion-header>

  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button (click)="cerrarModalYBorrar(false)">Cancel</button>
      <button ion-button (click)="cerrarModalYBorrar(true)"><ion-icon name="trash"></ion-icon></button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="autocomplete.query" [showCancelButton]="true" (ionInput)="updateSearch()"></ion-searchbar>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="chooseItemAddress(item)">
      {{ item }}
    </ion-item>
  </ion-list>

</ion-content>
