<ion-header>

  <ion-navbar text-center color="taxi" hideBackButton="true">
    <ion-title>Taxista encontrado</ion-title>
  </ion-navbar>

</ion-header>


<ion-content text-center>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-avatar>
          <img src="assets/imgs/profile01.png">
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1>Ramón España</h1>
        <h5>te llevará a tu destino</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-icon name="star" color="taxi"></ion-icon>
        <ion-icon name="star" color="taxi"></ion-icon>
        <ion-icon name="star" color="taxi"></ion-icon>
        <ion-icon name="star" color="taxi"></ion-icon>
        <ion-icon name="star" color="taxi"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>Hora aproximada de llegada:</p>
        <ion-icon name="time"></ion-icon>
        15:00
      </ion-col>
    </ion-row>
  </ion-grid>
  <button ion ion-button color="taxi" (click)="mostrarOnTheWay()">Aceptar</button>

</ion-content>
